/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@400;700&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  max-width: 1400px;
  margin: 0 auto;
  padding: 42px 0;
  z-index: 0;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1 {
  font-family: "Roboto", sans-serif;
  color: #d04f4f;
  font-weight: 700;
  font-size: 36px;
  line-height: 46px;
  letter-spacing: 1px;
}

h2 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #fff;
}

h3 {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}

input[type=text] {
  font-family: "Lato", sans-serif;
}

i {
  font-size: 18px;
}
i span {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #000000;
}

ul li {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #000000;
  list-style-type: none;
  list-style-position: outside;
}
ul li span {
  font-weight: 700;
}

.card__container--text p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #000000;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search {
  background-color: #e7e7e7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
  padding: 0 22px;
  border-radius: 5px;
  margin: 20px 10px;
}
.search input[type=text] {
  background-color: #e7e7e7;
  height: 69px;
  flex: 1;
  outline: none;
  border: none;
  line-height: 100% !important;
  font-size: 18px;
  text-align: left;
}
.search i {
  font-size: 32px;
}

.filter {
  display: flex;
  justify-content: flex-start;
  align-items: start;
  margin: 20px 10px;
}
.filter__btn {
  position: relative;
}
.filter__btn button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.filter__btn button i {
  color: #fff;
}
.filter__btn:nth-child(n) {
  margin: 0 20px 0 0;
}
.filter__btn--blue {
  background-color: #3282f7;
  border-radius: 5px;
}
.filter__btn--green {
  background-color: #68d9a4;
  border-radius: 5px;
}
.filter__btn--red {
  background-color: #ed6454;
  border-radius: 5px;
}
.filter__btn input[type=text] {
  width: 100%;
  background-color: #3282f7;
  outline: none;
  border: none;
  line-height: 100% !important;
  caret-color: #fff;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.5px;
}
.filter__btn input[type=text]::placeholder {
  color: #fff;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 18px;
}
.filter__btn input[type=text]:focus::placeholder {
  color: transparent;
}

.fa-chevron-up {
  display: none;
}

#input__appliances {
  background-color: #68d9a4;
}

#input__ustensiles {
  background-color: #ed6454;
}

.dropdown,
.dropdown__appliances,
.dropdown__ustensiles {
  z-index: 100;
  height: auto;
  display: none;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  border-radius: 5px;
  padding: 0 19px 23px 19px;
}
.dropdown__input,
.dropdown__appliances__input,
.dropdown__ustensiles__input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  color: #fff;
}
.dropdown__input input[type=text],
.dropdown__appliances__input input[type=text],
.dropdown__ustensiles__input input[type=text] {
  flex: 1;
  padding: 1rem;
  border: none;
  outline: none;
  background-color: #3282f7;
  color: #fff;
}
.dropdown__input input[type=text]::placeholder,
.dropdown__appliances__input input[type=text]::placeholder,
.dropdown__ustensiles__input input[type=text]::placeholder {
  color: #fff;
  opacity: 50%;
}
.dropdown__tag,
.dropdown__appliances__tag,
.dropdown__ustensiles__tag {
  display: flex;
}
.dropdown__tag--col-1,
.dropdown__appliances__tag--col-1,
.dropdown__ustensiles__tag--col-1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.dropdown__tag--links, .dropdown__tag--links--appliances, .dropdown__tag--links--ustensiles,
.dropdown__appliances__tag--links,
.dropdown__appliances__tag--links--appliances,
.dropdown__appliances__tag--links--ustensiles,
.dropdown__ustensiles__tag--links,
.dropdown__ustensiles__tag--links--appliances,
.dropdown__ustensiles__tag--links--ustensiles {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
.dropdown__tag--links li, .dropdown__tag--links--appliances li, .dropdown__tag--links--ustensiles li,
.dropdown__appliances__tag--links li,
.dropdown__appliances__tag--links--appliances li,
.dropdown__appliances__tag--links--ustensiles li,
.dropdown__ustensiles__tag--links li,
.dropdown__ustensiles__tag--links--appliances li,
.dropdown__ustensiles__tag--links--ustensiles li {
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  margin: 0 25px 1rem 0;
  cursor: pointer;
}

.card {
  flex: 30%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin: 10px 10px;
}
.card__container {
  background-color: #e7e7e7;
  padding: 1rem;
  border-radius: 0 0 5px 5px;
}
.card__container--title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 1rem 0;
}
.card__container--list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card__container--list ul {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.card__container--list ul li {
  display: flex;
  margin: 0 0 3px 0;
  justify-content: flex-start;
  column-gap: 5px;
}
.card__container--text {
  width: 50%;
  text-align: justify;
}

.card {
  flex: 30%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin: 10px 10px;
}
.card__container {
  background-color: #e7e7e7;
  padding: 1rem;
  border-radius: 0 0 5px 5px;
}
.card__container--title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 1rem 0;
}
.card__container--list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card__container--list ul {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.card__container--list ul li {
  display: flex;
  margin: 0 0 3px 0;
  justify-content: flex-start;
  column-gap: 5px;
}
.card__container--text {
  width: 50%;
  text-align: justify;
}

#main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  flex-wrap: wrap;
}

.tags__section {
  display: flex;
  flex-wrap: wrap;
}

.tag {
  width: 150px;
  height: 37px;
  background-color: #3282f7;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px 10px;
  border-radius: 5px;
  color: #fff;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
}

.tag-appliances {
  background-color: #68D9A4;
  width: 150px;
  height: 37px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px 10px;
  border-radius: 5px;
  color: #fff;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
}

.fa-times-circle {
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
