@import "../components/card";

#main {
  // z-index: -1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  flex-wrap: wrap;
  transform: translateY(55px);
  // :nth-child(n){
  //   // flex: 10%;
  //   background-color: red;

  // }
  // div:nth-child(n + 2) {
  //   background-color: red;
  //   margin: 20px;
  // }

  // path {
  //   width: 100%;
  //   background-color: red;
  // }
}