.dropdown {
  // position: absolute;
  z-index: 100;
  // width: 100%;
  height: auto;
  display: none;
  // flex-direction: column;
  flex-wrap: wrap;
  justify-content:flex-start;
  align-items: center;
  background-color: #3282f7;
  border-radius: 5px;
  padding: 0 19px 23px 19px;
  &__input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    color: #fff;
    // background-color: red;
    input[type="text"] {
      flex: 1;
      padding: 1rem;
      border: none;
      outline: none;
      background-color: #3282f7;
      color: #fff;
      &::placeholder {
        color: #fff;
        opacity: 50%;
        
      }
    }
  }
  &__tag {
    display: flex;
    // column-gap: 50px;
    &--col-1 {
      display: flex;
      justify-content: flex-start;
      align-items:center;
      // justify-self: space-between;
      // background-color: red;
      
    }
    &--links {
      display: flex;
      justify-content:flex-start;
      align-items: center;
      flex-wrap: wrap;
      // background-color:green;
      li {
        font-size: 18px;
        font-weight: 400;
        color: #fff;
        margin: 0 25px 1rem 0;
        cursor: pointer;
      }
    }
  }
}
