.filter {
  width: 70%;
  position: absolute;
  z-index: 2;
  display: flex;
  justify-content: flex-start;
  align-items: start;
  margin: 20px 10px;

  &__btn {
    position: relative;


    // display: flex;
    button {
      // width: 200px;
      //   height: 69px;

      display: flex;
      justify-content: center;
      align-items: center;

      padding: 1rem;
      border: none;
      border-radius: 5px;
      cursor: pointer;

      i {
        color: #fff;
      }
    }

    &:nth-child(n) {
      margin: 0 20px 0 0;
      // background-color: red;
    }

    &--blue {
      // display: none !important;
      background-color: #3282f7;
      border-radius: 5px;
    }

    &--green {
      background-color: #68d9a4;
      border-radius: 5px;
    }

    &--red {
      background-color: #ed6454;
      border-radius: 5px;
    }

    input[type="text"] {
      width: 100%;
      background-color: #3282f7;
      outline: none;
      border: none;
      line-height: 100% !important;
      caret-color: #fff;
      color: #fff;
      font-size: 18px;
      font-weight: 700;
      letter-spacing: .5px;

      &::placeholder {
        color: #fff;
        font-family: "Lato", sans-serif;
        font-weight: 700;
        font-size: 18px;

      }

      &:focus::placeholder {
        color: transparent;
      }
    }
  }
}

.fa-chevron-up {
  display: none;
}

#input__appliances {
  background-color: #68d9a4;
}

#input__ustensiles {
  background-color: #ed6454;
}